.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #e370da, #a05adc);
    color: white;
    margin-left:15%;
}