p {
    font-family: $font-primary;
    font-weight: bold;
}

h3 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

h2 {
    font-family: $font-primary;
}

a {
    font-family: $font-primary;
}