main {
    width: auto;
}

body{
    overflow: hidden;
    margin: 0;
}
.fonction{
    text-align: center;
}
.fonction-list{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 0 15px;
}

.card img{
    width: 70%;
    object-fit: cover;
}